
h1 {color: cornflowerblue;
    	font-size: x-large;
    	font-family: garamond;
    	text-decoration: underline;
    	
 	}
a {
	color: white;
	text-decoration: none;
	background-color: blue;
  }

a:hover {background-color: black;
    
       	}
